<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>linjun.me.alfred-pow-workflow</string>
	<key>connections</key>
	<dict>
		<key>1B54CAFA-3BC6-4253-B464-312EC3F77971</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E9E0704D-34FF-404B-97C6-302C1A9FBBA9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B856E2A6-2FAB-49D3-B5DE-39C042A0A079</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>82C13C58-14EA-42FD-ACEA-DBA1996C3726</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4D8FDF34-C674-4A6B-AD57-5E456ACE3DC6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F1D40D66-A82E-4435-8A58-E0E45E65A0E1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B856E2A6-2FAB-49D3-B5DE-39C042A0A079</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>linjunpop</string>
	<key>description</key>
	<string>Pow</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Pow</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>pow io</string>
				<key>runningsubtext</key>
				<string>Please wait...</string>
				<key>script</key>
				<string>ruby list.rb "{query}"</string>
				<key>subtext</key>
				<string>Copy xip.io url for pow app.</string>
				<key>title</key>
				<string>IO</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F1D40D66-A82E-4435-8A58-E0E45E65A0E1</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>pow open</string>
				<key>runningsubtext</key>
				<string>Please wait...</string>
				<key>script</key>
				<string>ruby list.rb "{query}"</string>
				<key>subtext</key>
				<string>List Pow Apps</string>
				<key>title</key>
				<string>Open</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1B54CAFA-3BC6-4253-B464-312EC3F77971</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>4D8FDF34-C674-4A6B-AD57-5E456ACE3DC6</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>http://{query}.dev</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>E9E0704D-34FF-404B-97C6-302C1A9FBBA9</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Pow</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>82C13C58-14EA-42FD-ACEA-DBA1996C3726</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>ip=`ifconfig | grep "inet " | grep -v 127.0.0.1 | cut -d\  -f2`
echo http://{query}.${ip}.xip.io</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B856E2A6-2FAB-49D3-B5DE-39C042A0A079</string>
		</dict>
	</array>
	<key>readme</key>
	<string>Control Pow.</string>
	<key>uidata</key>
	<dict>
		<key>1B54CAFA-3BC6-4253-B464-312EC3F77971</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>4D8FDF34-C674-4A6B-AD57-5E456ACE3DC6</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>82C13C58-14EA-42FD-ACEA-DBA1996C3726</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>B856E2A6-2FAB-49D3-B5DE-39C042A0A079</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>E9E0704D-34FF-404B-97C6-302C1A9FBBA9</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>F1D40D66-A82E-4435-8A58-E0E45E65A0E1</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
